@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #000;
  --violet: #836fff;
  --mint: #15f5ba;
  --gray: #f0f3ff;
  --mixed: #e32765;
}

*::selection {
  color: var(--mixed);
  background: var(--mint);
}

body {
  color: var(--mint);
  background: var(--dark);
  line-height: 1.1;
}

.transparent-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-transparent-text {
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
