@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #000;
  --violet: #836fff;
  --mint: #15f5ba;
  --gray: #f0f3ff;
  --mixed: #e32765;
}

*::selection {
  color: var(--mixed);
  background: var(--mint);
}

body {
  color: var(--mint);
  background: var(--dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
