@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --dark: #000;
  --violet: #836fff;
  --mint: #15f5ba;
  --gray: #f0f3ff;
  --mixed: #e32765;
  --gradient-line: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.2),
    #fff 50%,
    rgba(255, 255, 255, 0.2)
  );
}

*::selection {
  color: var(--mixed);
  background: var(--mint);
}

body {
  color: var(--mint);
  background: var(--dark);
  line-height: 1.1;
}

.transparent-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-transparent-text {
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.stroke-text {
  color: transparent;
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: var(--white);
}

.vertical {
  writing-mode: vertical-rl;
}

.link {
  position: relative;
  display: inline-block;
}

.link::before {
  position: absolute;
  content: '';
  top: calc(100% + 1px);
  left: 0;
  background: var(--gradient-line);
  width: 100%;
  height: 1px;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}

.link:hover::before {
  transform: scale(1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
